$level0: #FFFFFF;
$level1: #F2F2F2;
$level2: #DAD9D9;
$level3: #585D71;

$brand1: #0B25E5;
$brand2: #0C1642;

.tag-container {
    display: flex;
    flex-direction: row;
    background-color: $level1;
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tag-container svg {
    color: $level3;
    z-index: 2;
}

.tag-container h5 {
    color: $brand2;
    margin-right: 5px;
}

#tag-hover {
    background-color: $level2;
}
